main {
  font-size: 4rem;
  background-color: bisque;
  background-color: bisque;
  width: calc(100% - 500px);
  height: 300px;
  text-align: center;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
 