footer {
  background-color: bisque;
  width: calc(100% - 500px);
  height: 100px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.5rem;
}
