.header {
  background-color: bisque;
  width: calc(100% - 500px);
  height: 150px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  h2 {
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: 700;
    display: inline-block;
    padding-top: 40px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .container ul {
    display: flex;
    // flex-grow: 1;
  }

  .container ul li a {
    display: block;
    // background-color: aqua;
    font-size: 2.4rem;
    padding: 20px 25px;
    font-weight: 500;
  }

  .container ul li a:hover {
    background-color: aliceblue;
  }

  .logo {
    width: 130px;
    font-size: 3rem;
    font-weight: 700;
  }
}
